<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="HLU.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="HLU.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="HLU.Properties.Settings.HluConnectionString" connectionString="Data Source=ACEY\SQLEXPRESS2012;Initial Catalog=HLUData_BMERC;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <applicationSettings>
    <HLU.Properties.Settings>
      <setting name="ArcGISValidWorkspaces" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>esriDataSourcesGDB.AccessWorkspaceFactory</string>
            <string>esriDataSourcesGDB.FileGDBWorkspaceFactory</string>
            <string>esriDataSourcesGDB.SdeWorkspaceFactory</string>
            <string>esriDataSourcesFile.ShapefileWorkspaceFactory</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="LogoHeight" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="UseAutomaticCommandBuilders" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ConverterParameterSeparator" serializeAs="String">
        <value>^</value>
      </setting>
      <setting name="PipeFieldDelimiter" serializeAs="String">
        <value>|</value>
      </setting>
      <setting name="PipeTransmissionEnd" serializeAs="String">
        <value>@</value>
      </setting>
      <setting name="PipeTransmissionInterrupt" serializeAs="String">
        <value>%</value>
      </setting>
      <setting name="HistoryGeometry1ColumnName" serializeAs="String">
        <value>geom1</value>
      </setting>
      <setting name="HistoryGeometry2ColumnName" serializeAs="String">
        <value>geom2</value>
      </setting>
      <setting name="PipeMaxReadBytes" serializeAs="String">
        <value>131072</value>
      </setting>
      <setting name="PipeStringContinue" serializeAs="String">
        <value>$</value>
      </setting>
      <setting name="UseObjectFactory" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="GisIDColumnOrdinals" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>0</string>
            <string>1</string>
            <string>2</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="LutDescriptionFieldName" serializeAs="String">
        <value>description</value>
      </setting>
      <setting name="LutDescriptionFieldOrdinal" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="BulkUpdateUsesAdo" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PipeBaseName" serializeAs="String">
        <value>HluPipe</value>
      </setting>
      <setting name="PipeErrorInit" serializeAs="String">
        <value>~</value>
      </setting>
      <setting name="HistoryAdditionalFieldsDelimiter" serializeAs="String">
        <value>~~~</value>
      </setting>
      <setting name="BAPDeterminationQualiltyUserAdded" serializeAs="String">
        <value>NP</value>
      </setting>
      <setting name="MinimumDbVersion" serializeAs="String">
        <value>E</value>
      </setting>
      <setting name="MaxGetValueRows" serializeAs="String">
        <value>100000</value>
      </setting>
      <setting name="MaxSqlLengthMapInfo" serializeAs="String">
        <value>2000</value>
      </setting>
      <setting name="MaxSqlLengthArcGIS" serializeAs="String">
        <value>30000</value>
      </setting>
      <setting name="LutSourceFieldName" serializeAs="String">
        <value>source_name</value>
      </setting>
      <setting name="LutSourceFieldOrdinal" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="LutUserFieldName" serializeAs="String">
        <value>user_name</value>
      </setting>
      <setting name="LutUserFieldOrdinal" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="MapInfoMaxRecordLength" serializeAs="String">
        <value>4000</value>
      </setting>
      <setting name="MapInfoMaxTableSize" serializeAs="String">
        <value>2097152</value>
      </setting>
    </HLU.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <HLU.Properties.Settings>
      <setting name="DbConnectionTimeout" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="DbConnectionPersistSecurityInfo" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DbDefaultSchema" serializeAs="String">
        <value />
      </setting>
      <setting name="DbPromptPwd" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DbConnectionString" serializeAs="String">
        <value />
      </setting>
      <setting name="DbIsUnicode" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DbUseTimeZone" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DbTextLength" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="DbBinaryLength" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="DbTimePrecision" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="DbNumericPrecision" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="DbNumericScale" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="DbConnectionType" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LogoPath" serializeAs="String">
        <value>C:\Documents and Settings\hartmutt\My Documents\Visual Studio 2008\Projects\HBICGISTool\HBICGISTool\Logo.png</value>
      </setting>
      <setting name="MapPath" serializeAs="String">
        <value />
      </setting>
      <setting name="PreferredGis" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SeasonNames" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>Spring</string>
            <string>Summer</string>
            <string>Autumn</string>
            <string>Winter</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="VagueDateDelimiter" serializeAs="String">
        <value>-</value>
      </setting>
      <setting name="StartupTimeout" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="IncidTablePageSize" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="HistoryColumnOrdinals" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>4</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="HistoryDisplayLastN" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="BulkUpdateBlankRowMeansDelete" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CodeDeleteRow" serializeAs="String">
        <value>&lt;clear&gt;</value>
      </setting>
      <setting name="BulkUpdatePotentialBap" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="WarnBeforeGISSelect" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="CallUpgrade" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SourceImportanceSkip" serializeAs="String">
        <value>N</value>
      </setting>
      <setting name="SourceImportanceApply1" serializeAs="String">
        <value>P</value>
      </setting>
      <setting name="SourceImportanceApply2" serializeAs="String">
        <value>S</value>
      </setting>
      <setting name="SourceImportanceApply3" serializeAs="String">
        <value>C</value>
      </setting>
      <setting name="BAPHabitatIgnore" serializeAs="String">
        <value>PHAP-NONE</value>
      </setting>
      <setting name="SubsetUpdateAction" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PreferredHabitatClass" serializeAs="String">
        <value>ICAT</value>
      </setting>
      <setting name="InterfaceStyle" serializeAs="String">
        <value>Original</value>
      </setting>
      <setting name="NotifyOnSplitMerge" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UseAdvancedSQL" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SqlPath" serializeAs="String">
        <value />
      </setting>
      <setting name="GetValueRows" serializeAs="String">
        <value>10000</value>
      </setting>
      <setting name="ExportPath" serializeAs="String">
        <value />
      </setting>
      <setting name="ShowNVCCodes" serializeAs="String">
        <value>True</value>
      </setting>
    </HLU.Properties.Settings>
  </userSettings>
</configuration>