<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="HLU.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="HLU.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="HLU.Properties.Settings.HluConnectionString" connectionString="Data Source=ZIPY\SQLEXPRESS2016;Initial Catalog=HLUData;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="HLU.Properties.Settings.HLUDataConnectionString" connectionString="Data Source=zipy\sqldeveloper2016;Initial Catalog=HLUData;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="HLU.Properties.Settings.HLUData_v400ConnectionString"
      connectionString="Data Source=ZIPY\SQLDEVELOPER2016;Initial Catalog=HLUData_v400;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <applicationSettings>
    <HLU.Properties.Settings>
      <setting name="ArcGISValidWorkspaces" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>esriDataSourcesGDB.AccessWorkspaceFactory</string>
            <string>esriDataSourcesGDB.FileGDBWorkspaceFactory</string>
            <string>esriDataSourcesGDB.SdeWorkspaceFactory</string>
            <string>esriDataSourcesFile.ShapefileWorkspaceFactory</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="LogoHeight" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="UseAutomaticCommandBuilders" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ConverterParameterSeparator" serializeAs="String">
        <value>^</value>
      </setting>
      <setting name="PipeFieldDelimiter" serializeAs="String">
        <value>|</value>
      </setting>
      <setting name="PipeTransmissionEnd" serializeAs="String">
        <value>@</value>
      </setting>
      <setting name="PipeTransmissionInterrupt" serializeAs="String">
        <value>%</value>
      </setting>
      <setting name="HistoryGeometry1ColumnName" serializeAs="String">
        <value>geom1</value>
      </setting>
      <setting name="HistoryGeometry2ColumnName" serializeAs="String">
        <value>geom2</value>
      </setting>
      <setting name="PipeMaxReadBytes" serializeAs="String">
        <value>131072</value>
      </setting>
      <setting name="PipeStringContinue" serializeAs="String">
        <value>$</value>
      </setting>
      <setting name="UseObjectFactory" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="GisIDColumnOrdinals" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>0</string>
            <string>1</string>
            <string>2</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="LutDescriptionFieldName" serializeAs="String">
        <value>description</value>
      </setting>
      <setting name="LutDescriptionFieldOrdinal" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="BulkUpdateUsesAdo" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PipeBaseName" serializeAs="String">
        <value>HluPipe</value>
      </setting>
      <setting name="PipeErrorInit" serializeAs="String">
        <value>~</value>
      </setting>
      <setting name="HistoryAdditionalFieldsDelimiter" serializeAs="String">
        <value>~~~</value>
      </setting>
      <setting name="BAPDeterminationQualityUserAdded" serializeAs="String">
        <value>NP</value>
      </setting>
      <setting name="MinimumDbVersion" serializeAs="String">
        <value>P</value>
      </setting>
      <setting name="MaxGetValueRows" serializeAs="String">
        <value>100000</value>
      </setting>
      <setting name="MaxSqlLengthMapInfo" serializeAs="String">
        <value>2000</value>
      </setting>
      <setting name="MaxSqlLengthArcGIS" serializeAs="String">
        <value>30000</value>
      </setting>
      <setting name="LutSourceFieldName" serializeAs="String">
        <value>source_name</value>
      </setting>
      <setting name="LutSourceFieldOrdinal" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="LutUserFieldName" serializeAs="String">
        <value>user_name</value>
      </setting>
      <setting name="LutUserFieldOrdinal" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="MapInfoMaxRecordLength" serializeAs="String">
        <value>4000</value>
      </setting>
      <setting name="MapInfoMaxTableSize" serializeAs="String">
        <value>2097152</value>
      </setting>
      <setting name="MapDistanceUnits" serializeAs="String">
        <value>m</value>
      </setting>
      <setting name="MaxAutoZoom" serializeAs="String">
        <value>1000000</value>
      </setting>
      <setting name="ShowOSMMUpdatesOptions" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>Never</string>
            <string>When Outstanding</string>
            <string>Always</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="OSMMUpdatesStatuses" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>Rejected</string>
            <string>Ignored</string>
            <string>Proposed</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="BAPDeterminationQualityPrevious" serializeAs="String">
        <value>PP</value>
      </setting>
      <setting name="SecondaryCodeOrderOptions" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>As entered</string>
            <string>By group then code</string>
            <string>By code</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="ClearIHSUpdateActions" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>Don't clear</string>
            <string>Clear on change in primary code only</string>
            <string>Clear on change in primary or secondary codes only</string>
            <string>Clear on any change</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="MaxSecondaryGroupColumnWidth" serializeAs="String">
        <value>250</value>
      </setting>
      <setting name="LutSortOrderFieldName" serializeAs="String">
        <value>sort_order</value>
      </setting>
    </HLU.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <HLU.Properties.Settings>
      <setting name="DbConnectionTimeout" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="DbConnectionPersistSecurityInfo" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DbDefaultSchema" serializeAs="String">
        <value />
      </setting>
      <setting name="DbPromptPwd" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DbConnectionString" serializeAs="String">
        <value />
      </setting>
      <setting name="DbIsUnicode" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DbUseTimeZone" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DbTextLength" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="DbBinaryLength" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="DbTimePrecision" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="DbNumericPrecision" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="DbNumericScale" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="DbConnectionType" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LogoPath" serializeAs="String">
        <value>C:\Documents and Settings\hartmutt\My Documents\Visual Studio 2008\Projects\HLUGISTool\HLUGISTool\Logo.png</value>
      </setting>
      <setting name="MapPath" serializeAs="String">
        <value />
      </setting>
      <setting name="PreferredGis" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SeasonNames" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>Spring</string>
            <string>Summer</string>
            <string>Autumn</string>
            <string>Winter</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="VagueDateDelimiter" serializeAs="String">
        <value>-</value>
      </setting>
      <setting name="StartupTimeout" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="IncidTablePageSize" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="HistoryColumnOrdinals" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>4</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="HistoryDisplayLastN" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="BulkUpdateDeleteMultiplexCodes" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="CodeDeleteRow" serializeAs="String">
        <value>&lt;clear&gt;</value>
      </setting>
      <setting name="BulkUpdatePotentialBap" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="WarnBeforeGISSelect" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="CallUpgrade" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SourceImportanceSkip" serializeAs="String">
        <value>N</value>
      </setting>
      <setting name="SourceImportanceApply1" serializeAs="String">
        <value>P</value>
      </setting>
      <setting name="SourceImportanceApply2" serializeAs="String">
        <value>S</value>
      </setting>
      <setting name="SourceImportanceApply3" serializeAs="String">
        <value>C</value>
      </setting>
      <setting name="BAPHabitatIgnore" serializeAs="String">
        <value>PHAP-NONE</value>
      </setting>
      <setting name="SubsetUpdateAction" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PreferredHabitatClass" serializeAs="String">
        <value>ICAT</value>
      </setting>
      <setting name="InterfaceStyle" serializeAs="String">
        <value>Original</value>
      </setting>
      <setting name="NotifyOnSplitMerge" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SqlPath" serializeAs="String">
        <value />
      </setting>
      <setting name="GetValueRows" serializeAs="String">
        <value>10000</value>
      </setting>
      <setting name="ExportPath" serializeAs="String">
        <value />
      </setting>
      <setting name="ShowNVCCodes" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AutoZoomSelection" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="AutoSelectOnGis" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MinAutoZoom" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="ShowOSMMUpdatesOption" serializeAs="String">
        <value>When Outstanding</value>
      </setting>
      <setting name="ResetOSMMUpdatesStatus" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowGroupHeaders" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AppKeepOnTop" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CodeAnyRow" serializeAs="String">
        <value>&lt;all&gt;</value>
      </setting>
      <setting name="BulkUpdateDeleteOrphanBapHabitats" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="BulkUpdateCreateHistoryRecords" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="BAPDeterminationQualityUserAddedDesc" serializeAs="String">
        <value>Not present but close to definition</value>
      </setting>
      <setting name="BAPDeterminationQualityPreviousDesc" serializeAs="String">
        <value>Previously present, but may no longer exist</value>
      </setting>
      <setting name="BulkUpdateDeterminationQuality" serializeAs="String">
        <value>PI</value>
      </setting>
      <setting name="BulkUpdateInterpretationQuality" serializeAs="String">
        <value>M2</value>
      </setting>
      <setting name="BulkUpdateDeletePotentialBapHabitats" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="BulkOSMMSourceId" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SecondaryCodeDelimiter" serializeAs="String">
        <value>.</value>
      </setting>
      <setting name="ShowIHSTab" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PreferredSecondaryGroup" serializeAs="String">
        <value>&lt;All&gt;</value>
      </setting>
      <setting name="SecondaryCodeValidation" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="BulkUpdateDeleteSecondaryCodes" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ClearIHSUpdateAction" serializeAs="String">
        <value />
      </setting>
      <setting name="SecondaryCodeOrder" serializeAs="String">
        <value />
      </setting>
      <setting name="QualityValidation" serializeAs="String">
        <value>0</value>
      </setting>
    </HLU.Properties.Settings>
  </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
